<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
    <title>OK</title>
  </h:head>
  <h:body>
    <h1>This page (annotated with prettyfaces url mapping, mapped on /test url) doesn't work, if you try to upload some files and watch the log you can notice that no upload was done, why ? no javascript error, no managed bean error...</h1>
    <h:form>
      <p:fileUpload fileUploadListener="#{uploadController.handleFileUpload}" 
                    mode="advanced" 
                    dragDropSupport="false"
                    multiple="true" 
                    auto="true" />
      <iframe style="width:100%; height:400px; border:0px none" src="upload.xhtml"></iframe>
      <a href="index.xhtml">Return to main page...</a>
    </h:form>
  </h:body>
</html>