<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
  <h:head>
    <title>OK</title>
  </h:head>
  <h:body>
    <h1>Using iframe it works (ref. http://ocpsoft.org/support/topic/pretty-primefaces-fileupload/page/2/) but this is only a workardound and 
        it is far from an ideal solution because it limits the file upload component height, the component height must grow while uploading many files, 
        if you try to upload 8 files the file upload height will be insufficient to show all the uploaded files...</h1>
    <h:form>
      <p:fileUpload fileUploadListener="#{uploadController.handleFileUpload}" 
                    mode="advanced" 
                    dragDropSupport="false"
                    multiple="true" 
                    auto="true" />
    </h:form>
  </h:body>
</html>